body{
	background-color: grey;
}
h1{
	text-align:center;
}
a{
margin-top: 1em;	
margin-bottom:1em; 
color:black;
}
p{
text-align: center;
}
.source{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	margin-top:10%;
	background-color:black;
	color:white;
	height: 10%;
	text-align:right;
}
.titrediapo{
	margin-bottom:5%;
}
.d-block{
	height:370px;
	width: 50%;
}
