body{
	background-color: #e3dede;
	font-family: 'Pacifico', cursive;
}
.header{
	background-color: black;
	color:white;
	width: 100%;
	height:10%;
}
.spaceh{
	width: 60%;
}
.acceuil {
	margin-left: 70%;
}
.acceuil,.qui,.diaporama,.contact{
	
	display: inline-block;

}
.bienvenue{
	margin-top:2em;
	font-size: 4em;
	text-align: center;

}
h1{
	text-align:center;
}
a{
margin-top: 1em;	
margin-bottom:1em; 
color:white;
}
p{
text-align: center;
text-align: justify;
}
.source{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	margin-top:10%;
	background-color:black;
	color:white;
	height: 10%;
	text-align:right;
}

